.service-1{
    background-image: url(../../../images/olexandr-ignatov-w72a24brINI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.service-2{
    background-image: url(../../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.service-3{
    background-image: url(../../../images/s-o-c-i-a-l-c-u-t-1RT4txDDAbM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.service-4{
    background-image: url(../../../images/gina-lin-m27OTMegUyA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}